<load target="js/jquery.mCustomScrollbar.concat.min.js" type="body" />

<load target="css/default.css" />
<load target="js/default.js" type="body" />
<load target="js/text_area.js" type="body" />
<load target="js/board.js" type="body" />
<!--%import("filter/insert.xml")-->
{@
	$mi = $module_info;
}
<div class="xe_bootstrap_board">
	<div class="board_header">
		<a cond="$act!='dispBoardWrite'" href="{getUrl('act','dispBoardWrite','document_srl','')}" class="btn btn-danger"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang->cmd_write}</a>
		<h3><span class="title"><a href="{getUrl('','mid',$mid)}">{$module_info->browser_title}</a></span></h3>
	</div>
