<include target="_header.html" />
<div cond="$oDocument->isExists()" class="context_data">
	<div class="header">
		<h1 class="title"><a href="{$oDocument->getPermanentUrl()}">{$oDocument->getTitle()}</a></h1>
		<div class="nick_area">
			<small cond="$grant->manager || $mi->display_ip_address" class="nick_ip"> ({$oDocument->getIpaddress()})</small>
			<a cond="!$mi->rd_nick" href="#popup_menu_area" class="nick member_{$oDocument->get('member_srl')}" onclick="return false">{$oDocument->getNickName()}</a>
		</div>
	</div>
</div>
<form action="./" method="get" onsubmit="return procFilter(this, delete_document)" class="context_message">
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<h3>{$lang->confirm_delete}</h3>
	<div class="btnArea">
		<button type="submit" class="btn btn-primary"><i class="fa fa-eraser" aria-hidden="true"></i> {$lang->cmd_delete}</button>
		<button type="button" onclick="history.back()" class="btn btn-default"><i class="fa fa-undo" aria-hidden="true"></i> {$lang->cmd_cancel}</button>
	</div>
</form>
<include target="_footer.html" />