<include target="_header.html" />
<include cond="$oDocument->isExists()" target="_read.html" />
<p cond="!$document_list && !$notice_list" class="no_ducument">{$lang->no_documents}</p>
<table width="100%" border="1" cellspacing="0" summary="List of Articles" id="board_list" class="board_list" cond="$document_list || $notice_list">
	<thead>
		<!-- LIST HEADER -->
		<tr>
			<block loop="$list_config=>$key,$val">
			<th scope="col" cond="$val->type=='no'">{$lang->no}</th>
			<th scope="col" cond="$val->type=='category'">{$lang->no}</th>
			<block cond="$val->type=='title' && $val->idx==-1">
			<th scope="col" cond="!$mi->show_cate && $mi->use_category=='Y'"><span>{$lang->category}</span></th>
			<th scope="col" class="title" cond="$val->type=='title'">{$lang->title}</th>
			</block>
			<th scope="col" cond="$val->type=='nick_name'">{$lang->writer}</th>
			<th scope="col" cond="$val->type=='user_id'">{$lang->user_id}</th>
			<th scope="col" cond="$val->type=='user_name'">{$lang->user_name}</th>
			<th scope="col" cond="$val->type=='regdate'">{$lang->date}</th>
			<th scope="col" cond="$val->type=='last_update'">{$lang->last_update}</th>
			<th scope="col" cond="$val->type=='last_post'">{$lang->last_post}</th>
			<th scope="col" cond="$val->type=='readed_count'">조회수</th>
			<th scope="col" cond="$val->type=='voted_count'">추천</th>
			</block>
			<th scope="col" cond="$grant->manager"><span><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true });" class="iCheck" title="Check All" /></span></th>
		</tr>
		<!-- /LIST HEADER -->
	</thead>
	<tbody>
		<!-- NOTICE -->
		<tr class="notice" loop="$notice_list=>$no,$document">
			<block loop="$list_config=>$key,$val">
			<td class="notice" cond="$val->type=='no'">
				<block cond="$document_srl==$document->document_srl">&raquo;</block>
				<block cond="$document_srl!=$document->document_srl"><span class="notice-icon">알림</span></block>
			</td>
			<block cond="$val->type=='title' && $val->idx==-1">
				<td class="category" cond="!$mi->show_cate && $mi->use_category=='Y'"><span class="category-icon" style="background-color:{$category_list[$document->get('category_srl')]->color}"|cond="$category_list[$document->get('category_srl')]->color!='transparent'">{$category_list[$document->get('category_srl')]->title}</span></td>
				<td class="title" cond="$val->type=='title'">
					<a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">
						{$document->getTitle()}
					</a>
					<a cond="$document->getCommentCount()" href="{getUrl('document_srl', $document->document_srl)}#comment" class="replyNum" title="Replies">
						[{$document->getCommentCount()}]
					</a>
					<a cond="$document->getTrackbackCount()" href="{getUrl('document_srl', $document->document_srl)}#trackback" class="trackbackNum" title="Trackbacks">
						[{$document->getTrackbackCount()}]
					</a>
				</td>
			</block>
			<td class="author" cond="$val->type=='nick_name' && $val->idx==-1"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td>
			<td class="author" cond="$val->type=='user_id'">{$document->getUserID()}</td>
			<td class="author" cond="$val->type=='user_name'">{$document->getUserName()}</td>
			<td class="time" cond="$val->type=='regdate'">{$document->getRegdate('Y.m.d')}</td>
			<td class="time" cond="$val->type=='last_update'">{zdate($document->get('last_update'),'Y.m.d')}</td>
			<td class="lastReply" cond="$val->type=='last_post'">
				<block cond="(int)($document->get('comment_count'))>0">
					<a href="{$document->getPermanentUrl()}#comment" title="Last Reply">
						{zdate($document->get('last_update'),'Y.m.d')}
					</a>
					<span cond="$document->get('last_updater')">
						<sub>by</sub>
						{htmlspecialchars($document->get('last_updater'))}
					</span>
				</block>
				<block cond="(int)($document->get('comment_count'))==0">&nbsp;</block>
			</td>
			<td class="readNum" cond="$val->type=='readed_count'">{$document->get('readed_count')>0?$document->get('readed_count'):'0'}</td>
			<td class="voteNum" cond="$val->type=='voted_count'">+{$document->get('voted_count')!=0?$document->get('voted_count'):'0'}</td>
			</block>
			<td cond="$grant->manager" class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" class="iCheck" title="Check This Article" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" /></td>
		</tr>
		<!-- /NOTICE -->
		<!-- LIST -->
		<tr loop="$document_list=>$no,$document">
			<block loop="$list_config=>$key,$val">
			<td class="no" cond="$val->type=='no'">
				<block cond="$document_srl==$document->document_srl">&raquo;</block>
				<block cond="$document_srl!=$document->document_srl">{$no}</block>
			</td>
			<block cond="$val->type=='title' && $val->idx==-1">
				<td class="category" cond="!$mi->show_cate && $mi->use_category=='Y'"><span class="category-icon" style="background-color:{$category_list[$document->get('category_srl')]->color}"|cond="$category_list[$document->get('category_srl')]->color!='transparent'">{$category_list[$document->get('category_srl')]->title}</span></td>
				<td class="title" cond="$val->type=='title'">
					<a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">
						<span class="extraimages">{$document->printExtraImages(60*60*24)}</span>
						{$document->getTitle()}
					</a>
					<a cond="$document->getCommentCount()" href="{getUrl('document_srl', $document->document_srl)}#comment" class="replyNum" title="Replies">
						[{$document->getCommentCount()}]
					</a>
					<a cond="$document->getTrackbackCount()" href="{getUrl('document_srl', $document->document_srl)}#trackback" class="trackbackNum" title="Trackbacks">
						[{$document->getTrackbackCount()}]
					</a>
				</td>
			</block>
			<td class="author" cond="$val->type=='nick_name' && $val->idx==-1"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td>
			<td class="author" cond="$val->type=='user_id'">{$document->getUserID()}</td>
			<td class="author" cond="$val->type=='user_name'">{$document->getUserName()}</td>
			<td class="time" cond="$val->type=='regdate'">{$document->getRegdate('Y.m.d')}</td>
			<td class="time" cond="$val->type=='last_update'">{zdate($document->get('last_update'),'Y.m.d')}</td>
			<td class="lastReply" cond="$val->type=='last_post'">
				<block cond="(int)($document->get('comment_count'))>0">
					<a href="{$document->getPermanentUrl()}#comment" title="Last Reply">
						{zdate($document->get('last_update'),'Y.m.d')}
					</a>
					<span cond="$document->get('last_updater')">
						<sub>by</sub>
						{htmlspecialchars($document->get('last_updater'))}
					</span>
				</block>
				<block cond="(int)($document->get('comment_count'))==0">&nbsp;</block>
			</td>
			<td class="readNum" cond="$val->type=='readed_count'">{$document->get('readed_count')>0?$document->get('readed_count'):'0'}</td>
			<td class="voteNum" cond="$val->type=='voted_count'">+{$document->get('voted_count')!=0?$document->get('voted_count'):'0'}</td>
			</block>
			<td cond="$grant->manager" class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" class="iCheck" title="Check This Article" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" /></td>
		</tr>
		<!-- /LIST -->
	</tbody>
</table>
<div class="list_footer">
	<form cond="$grant->view" action="{getUrl()}" method="get" onsubmit="return procFilter(this, search)" id="board_search" class="board_search">
		<input type="hidden" name="vid" value="{$vid}" />
		<input type="hidden" name="mid" value="{$mid}" />
		<input type="hidden" name="category" value="{$category}" />
		<input type="hidden" name="search_target" id="search_target" value="title_content" />
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="search_target">제목+내용</span> <span class="caret"></span></button>
				<ul class="dropdown-menu search_option" role="menu">
					<li loop="$search_option=>$key,$val" data-target="{$key}"><a href="#">{$val}</a></li>
				</ul>
			</div>
			<input type="text" name="search_keyword" class="form-control" placeholder="검색할 단어">
			<span class="input-group-btn">
				<input type="submit" onclick="xGetElementById('board_search').submit();return false;" value="{$lang->cmd_search}" class="btn btn-default" />
			</span>
		</div>
	</form>
	<div class="btnArea">
		<block cond="$grant->manager">
			<a href="{getUrl('act','dispBoardAdminBoardInfo')}" class="btn btn-info"><i class="fa fa-cog" aria-hidden="true"></i> {$lang->cmd_setup}</a>
			<a class="btn btn-warning" href="{getUrl('','module','document','act','dispDocumentManageDocument')}" onclick="popopen(this.href,'manageDocument');return false"><i class="fa fa-check-square-o" aria-hidden="true"></i> {$lang->cmd_manage_document}</a>
		</block>
		<a href="{getUrl('act','dispBoardWrite','document_srl','')}" class="btn btn-danger"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang->cmd_write}</a>
	</div>
	<nav class="page_list">
		{@ $prev_page = max($page-1, 1)}
		{@ $next_page = min($page+1, $page_navigation->last_page)}
		<ul class="pagination pagination-sm">
			<li class="disabled"|cond="$page==1"><a href="{getUrl('page','','document_srl','','division',$division,'last_division',$last_division)}"><span aria-hidden="true">«</span></a></li>
			<li class="disabled"|cond="$page==$prev_page"><a href="{getUrl('page',$prev_page,'document_srl','','division',$division,'last_division',$last_division)}" class="prevEnd"><span aria-hidden="true">‹</span></a></li>
			<block loop="$page_no=$page_navigation->getNextPage()">
				<li class="active" cond="$page==$page_no"><a cond="$page==$page_no">{$page_no}</a></li>
				<li><a cond="$page!=$page_no" href="{getUrl('page',$page_no,'document_srl','','division',$division,'last_division',$last_division)}">{$page_no}</a></li>
			</block>
			<li class="disabled"|cond="$page==$next_page"><a href="{getUrl('page',$next_page,'document_srl','','division',$division,'last_division',$last_division)}"><span aria-hidden="true">›</span></a></li>
			<li class="disabled"|cond="$page==$page_navigation->last_page"><a href="{getUrl('page',$page_navigation->last_page,'document_srl','','division',$division,'last_division',$last_division)}" class="nextEnd"><span aria-hidden="true">»</span></a></li>
		</ul>
	</nav>
</div>
<include target="_footer.html" />
