<include target="_header.html" />
<form action="./" method="post" onsubmit="return procFilter(this, window.insert)" class="board_write">
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="content" value="{$oDocument->getContentText()}" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<input type="hidden" id="category_srl" name="category_srl" value="" />
	<div class="write_header input-group">
		<div cond="$mi->use_category=='Y' && $category_list" class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="category_target">분류</span> <span class="caret"></span></button>
			<ul class="dropdown-menu category_select" role="menu">
				<li loop="$category_list => $val" disabled="disabled"|cond="!$val->grant" category_srl="{$val->category_srl}" selected="selected"|cond="$val->grant&&$val->selected||$val->category_srl==$oDocument->get('category_srl')"><a href="#">{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} ({$val->document_count})</a></li>
			</ul>
		</div>
		<input cond="$oDocument->getTitleText()" type="text" name="title" class="form-control" title="{$lang->title}" placeholder="제목" value="{htmlspecialchars($oDocument->getTitleText())}" />
		<input cond="!$oDocument->getTitleText()" type="text" name="title" class="form-control" title="{$lang->title}" placeholder="제목" />
		<span cond="$is_logged && !$oDocument->isExists() || $oDocument->get('status')=='TEMP'" class="input-group-btn">
            <button onclick="doDocumentLoad(this);" class="btn btn-default" type="button">{$lang->cmd_load}</button>
	  	</span>
	</div>
	<div cond="count($extra_keys)" class="exArea">
		<table class="et_vars exForm">
			<caption><strong><em>*</em></strong> <small>: {$lang->is_required}</small></caption>
			<tr loop="$extra_keys=>$key,$val">
				<th scope="row"><em cond="$val->is_required=='Y'">*</em> {$val->name}</th>
				<td>{$val->getFormHTML()}</td>
			</tr>
		</table>
	</div>
    <div class="write_editor">
		{$oDocument->getEditor()}
	</div>
	<div class="write_author" cond="!$is_logged">
		<label for="userName">{$lang->writer}</label>
		<input type="text" name="nick_name" id="userName" class="iText userName" value="{htmlspecialchars($oDocument->get('nick_name'))}" />
		<label for="userPw">{$lang->password}</label>
		<input type="password" name="password" id="userPw" class="iText userPw" />
		<label for="homePage">{$lang->homepage}</label>
		<input type="text" name="homepage" id="homePage" class="iText homePage" value="{htmlspecialchars($oDocument->get('homepage'))}" />
    </div>

	<div class="optArea">
		<div cond="$grant->manager || $mi->tl_color=='2'" class="section">
			<!--%load_js_plugin("ui.colorpicker")-->
			<span class="itx_wrp color_wrp" title="{$lang->title_color}">
					<input placeholder="{$lang->title_color}" type="text" name="title_color" id="title_color" class="itx color-indicator form-control" value="{$oDocument->get('title_color')}"|cond="$oDocument->get('title_color')!='N'" />
			</span>
			<input type="checkbox" name="title_bold" id="title_bold" value="Y" checked="checked"|cond="$oDocument->get('title_bold')=='Y'" />
			<label for="title_bold">{$lang->title_bold}</label>
			<block cond="$grant->manager">
				<input type="checkbox" name="is_notice" value="Y" checked="checked"|cond="$oDocument->isNotice()" id="is_notice" />
				<label for="is_notice">{$lang->notice}</label>
			</block>
		</div>
		<div class="section">
			<input type="checkbox" name="comment_status" value="ALLOW" checked="checked"|cond="$oDocument->allowComment()" id="comment_status" />
			<label for="comment_status">{$lang->allow_comment}</label>
			<input type="checkbox" name="allow_trackback" value="Y" checked="checked"|cond="$oDocument->allowTrackback()" id="allow_trackback" />
			<label for="allow_trackback">{$lang->allow_trackback}</label>
		</div>
		<div cond="$is_logged" class="section">
			<input type="checkbox" name="notify_message" value="Y" checked="checked"|cond="$oDocument->useNotify() || (!$oDocument->useNotify() && @in_array('notify',$mi->wrt_opt))" id="notify_message" />
			<label for="notify_message">{$lang->notify}</label>
		</div>
		<div cond="is_array($status_list)" class="section">
			<!--@foreach($status_list AS $key=>$value)-->
			<input cond="@!in_array('secret',$mi->wrt_opt)" type="radio" name="status" value="{$key}" id="{$key}" checked="checked"|cond="$oDocument->get('status')==$key || ($key=='PUBLIC' && !$document_srl)" />
			<input cond="@in_array('secret',$mi->wrt_opt)" type="radio" name="status" value="{$key}" id="{$key}" checked="checked"|cond="$oDocument->get('status')==$key || ($key=='SECRET' && !$document_srl)" />
			<label for="{$key}">{$value}</label>
			<!--@end-->
		</div>
	</div>

	<div class="btnArea">
		<button type="button" onclick="doDocumentSave(this);" class="btn btn-default"><i class="fa fa-floppy-o" aria-hidden="true"></i> 임시저장</button>
		<button type="button" onclick="doDocumentPreview(this);return false" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i> 미리보기</button>
		<button type="submit" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {$lang->cmd_registration}</button>
		<button type="button" onclick="history.back()" class="btn btn-default"><i class="fa fa-undo" aria-hidden="true"></i> 취소</button>
	</div>
</form>
<include target="_footer.html" />
